################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HookedbyMinoh/App_Data/PublishProfiles/HookedByMinoh - FTP.pubxml
/HookedbyMinoh/App_Data/PublishProfiles/HookedByMinoh - Web Deploy.pubxml
/HookedbyMinoh/website.publishproj
